<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<!-- Appel correct du fragment avec paramètre -->
<head th:replace="~{base::page_head(titrePage='LISTE DES DEPARTEMENTS')}">
</head>
<body>
<!-- Inclusion du header -->
<div layout:fragment="header" th:replace="~{layouts/_header :: header}"></div>

<!-- Content -->
<div layout:fragment="content">
  <div class="justify-content-center mt-5">
    <div class="container">
      <div class="justify-content-center m-5">
        <hr>
        <h2 class="text-center text-success">Liste des départements</h2>
        <hr>
        <!-- Message flash -->
        <div th:if="${msg}" class="alert alert-primary alert-dismissible fade show">
          <span th:text="${msg}"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <a class="btn btn-sm btn-primary mb-2" th:href="@{/departement/new}">Nouveau département</a>
        <table class="table table-hover table-bordered table-striped">
          <thead>
          <tr class="table-success">
            <th scope="col-1" class="text-center">N°</th>
            <th scope="col-4">Libellé du département</th>
            <th scope="col-2" class="text-center">Liste de employés</th>
            <th scope="col-3" class="text-center">Action</th>
          </tr>
          </thead>
          <tbody>
          <th:block scope="row" th:each="d,iter: ${departemnts}">
            <tr>
              <td class="text-center" th:text="${iter.index + 1}"></td>
              <td class="text-start" th:text="${d.libelleDepartement}"></td>
              <td class="text-center">
                <a class="btn btn-primary btn-sm" th:href="@{/departement/employes/{id}(id=${d.id})}"
                   title="Voir la liste des employés dans ce département">
                  <i class="fa-solid fa-eye"></i> (<span th:text="${d.getEmployes().size()}"></span>)
                </a>
              </td>
              <td class="text-center">
                <a class="btn btn-warning btn-sm" th:href="@{/departement/edit/{id}(id=${d.id})}"
                   th:title="'Modifier le département ' + ${d.libelleDepartement} + ' ?'">
                  <i class="fa-solid fa-pen-nib"></i>
                </a>
                <a class="btn btn-danger btn-sm" href="#" data-bs-toggle="modal"
                   th:data-bs-target="'#modal' + ${d.id}">
                  <i class="fa-solid fa-trash"></i>
                </a>
                <div class="modal fade text-start" th:id="'modal' + ${d.id}" data-bs-backdrop="static">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Suppression d'un département !</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Supprimer le département de [[${d.libelleDepartement}]] ?</p>
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-danger" th:href="@{/departement/delete/{id}(id=${d.id})}">Oui, Supprimer</a>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non, Annuler</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Inclusion du footer -->
<div th:replace="~{base::bas_de_page}"></div>
</body>
</html>