<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="page_head">
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - STORE">STORE</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <!-- Inclusion du header -->
    <div layout:fragment="header" th:replace="layouts/_header :: header"></div>

    <div class="container mt-5" layout:fragment="content">
        <!-- Content de chaque page -->
    </div>

    <!-- Inclusion du footer -->
    <div layout:fragment="footer" th:replace="layouts/_footer :: footer"></div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>