<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<!-- Appel correct du fragment avec paramètre -->
<head th:replace="~{base::page_head(titrePage='ACCUEIL')}">
</head>
<body>
    <!-- Inclusion du header -->
    <div layout:fragment="header" th:replace="layouts/_header :: header"></div>

    <div layout:fragment="content" class="container py-3">
        PAGE ACCUEIL
    </div>

    <!-- Inclusion du footer -->
    <div th:replace="~{base::bas_de_page}"></div>
</body>
</html>